* {
    box-sizing: border-box;
}

/* hình 1 */
.red1{
    background-color: red;
   width: 55%;
   height: 400px;
   float: left;
}
.green1{
    background-color: green;
   width: 45%;
   height: 200px;
   float: left;
}
.blue1{
    background-color: blue;
    width: 45%;
    height: 200px;
    float: left;   
}
body{
    margin: 0px;
}
/* hình 2 */


.red2{
    background-color: red;
   width: 50%;
   height: 400px;
   float: left;
   border-right: 7.5px solid white;
   
  
}
.green2{
    background-color: green;
   width: 50%;
   height: 200px;
   float: right;
    border-left: 7.5px solid white;
}
.blue2{
    background-color: blue;
    width: 50%;
    height: 200px;
    float: right;
    border-left: 7.5px solid white;
}
body{
    margin: 0px;
}

/* hình 3 */
.red3{
    background-color: red;
   width: 33.3%;
   height: 400px;
   float: left;
}
.green3{
    background-color: green;
   width: 33.33%;
   height: 400px;
   float: left;
}
.blue3{
    background-color: blue;
    width: 33.33%;
    height: 400px;
    float: left;   
}
/* hình 4 */
.red4{
    background-color: red;
   width: 33.33%;
   height: 400px;
   float: left;
   border-right: 10px solid white;
   
}
.green4{
    background-color: green;
   width: 33.33%;
   height: 400px;
   float: left;
   border-left: 5px solid white ;
   border-right: 5px solid white;
   
}
.blue4{
    background-color: blue;
    width: 33.33%;
    height: 400px;
    float: left;   
    border-left: 10px solid white;
}
